@import "global/variables";
@import "global/minxin.scss";

body {
    background: $body;
}

.bloc1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: $title;
        @include font;
    }
}

.ligne{
    @include size(2px,40%);
    background-color: $title;

}

.bloc2{
    @include centreDiv(space-evenly);
    margin: 3% 0%;
}

.card {
    @include size(380px,27%);
    @include centreDiv(center);
    align-items: center;
    h1{
        color: $text;
        @include font;
    }
    &.one{
        @include gradient($secondary, $primary);
    }
    &.two{
        @include gradient($tertiary, $secondary);
    }
    &.three{
        @include gradient($primary, $tertiary);
    }
}

.bloc3{
    height: 630px;
    margin: 7% 2%;
    border: solid 1px $title;
    border-radius: 0px 20px 0px 20px;
    position: relative;
    h1{
        @include font;
        font-size: 60px;
        color: $title;
        margin-left: -13%;
        background-color: $body;
        display: inline-block;
        position: absolute;
        top: -12%;
    }
    h2{
        transform: rotate(-90deg);
        display: inline-block;
        margin: 11% 0% 0% -14.5%;
        @include font;
        font-size: 47px;
        background-color: $body;
        color: $title;
    }
}

.divCard{
    @include centreDiv(space-around);
    padding: 6% 2% 0% 2%;
}
.cardShoes{
    @include size(0%,30%);
    margin: -14% 0% 0% 2%;
}

.rond{
    @include size(70%,100%);
    border-radius: 50%;
    @include centreDiv(center);
    &.one{
        background-color: $primary;
    }
    &.two{
        background-color: $secondary;
    }
    &.three{
        background-color: $tertiary;
    }
}

.btn{
    padding: 1% 1%;
    margin: 5% 15% 0% 15%;
    border-radius: 20px 0 20px 0px;
    &.one{
        background-color: $tertiary;
    }
    &.two{
        background-color: $primary;
    }
    &.three{
        background-color: $secondary;
    }
}

.img{
    @include size(150%,100%);
    margin-top: -40%;
}

.para{
    @include font;
    color: $text;
    text-align: center;
}