@mixin gradient($color1, $color2){
    background: linear-gradient(180deg, $color1 0%, $color2 100%);
};

@mixin font{
    font-family: 'JetBrains Mono', monospace;
}

@mixin size($height, $width){
    height: $height;
    width: $width;
}

@mixin centreDiv($content){
    display: flex;
    justify-content: $content;
}