body {
  background: #F8F6F3;
}

.bloc1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc1 h1 {
  color: #53706E;
  font-family: "JetBrains Mono", monospace;
}

.ligne {
  height: 2px;
  width: 40%;
  background-color: #53706E;
}

.bloc2 {
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0%;
}

.card {
  height: 380px;
  width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card h1 {
  color: white;
  font-family: "JetBrains Mono", monospace;
}
.card.one {
  background: linear-gradient(180deg, #E0B952 0%, #709F9D 100%);
}
.card.two {
  background: linear-gradient(180deg, #C77A5D 0%, #E0B952 100%);
}
.card.three {
  background: linear-gradient(180deg, #709F9D 0%, #C77A5D 100%);
}

.bloc3 {
  height: 630px;
  margin: 7% 2%;
  border: solid 1px #53706E;
  border-radius: 0px 20px 0px 20px;
  position: relative;
}
.bloc3 h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 60px;
  color: #53706E;
  margin-left: -13%;
  background-color: #F8F6F3;
  display: inline-block;
  position: absolute;
  top: -12%;
}
.bloc3 h2 {
  transform: rotate(-90deg);
  display: inline-block;
  margin: 11% 0% 0% -14.5%;
  font-family: "JetBrains Mono", monospace;
  font-size: 47px;
  background-color: #F8F6F3;
  color: #53706E;
}

.divCard {
  display: flex;
  justify-content: space-around;
  padding: 6% 2% 0% 2%;
}

.cardShoes {
  height: 0%;
  width: 30%;
  margin: -14% 0% 0% 2%;
}

.rond {
  height: 70%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.rond.one {
  background-color: #709F9D;
}
.rond.two {
  background-color: #E0B952;
}
.rond.three {
  background-color: #C77A5D;
}

.btn {
  padding: 1% 1%;
  margin: 5% 15% 0% 15%;
  border-radius: 20px 0 20px 0px;
}
.btn.one {
  background-color: #C77A5D;
}
.btn.two {
  background-color: #709F9D;
}
.btn.three {
  background-color: #E0B952;
}

.img {
  height: 150%;
  width: 100%;
  margin-top: -40%;
}

.para {
  font-family: "JetBrains Mono", monospace;
  color: white;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
